@import "./mixin";
@import "./variables";
@import "./_reset.css";
@import "./calendar.module.scss";

* {
  transition: all 0.3s;
  &::-webkit-scrollbar {
    display: none;
  }
}
.body-wrapper {
  display: flex;
  height: 100vh;
  font-size: 16px;
  box-sizing: border-box;
  .nav-bar {
    background-color: lightblue;
    overflow: hidden;
  }
  .contents-wrapper {
    flex: 1;
    background-color: $light_grey_blue_color;
    min-width: 1547px;
  }
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
  }
}
.title {
  padding: 10px;
  font-weight: bold;
}
.card {
  @include boxShadow();
  background-color: #fff;
  border-radius: 17px;
  padding: 10px;
}

.nav-wrapper {
  color: #fff;
  width: 250px;
  transition: all 0.5s;
  height: 100%;
  display: flex;
  flex-direction: column;
  .nav-header {
    background-color: $dark_green_color_2;
    height: 240px;
    position: relative;
    .profile-box {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .img-box {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid $light_grey_blue_color;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
          width: 112px;
          height: 112px;
          background-color: aqua;
          border-radius: 50%;
          background-image: url(../assets/images/img1.jpg);
          background-size: cover;
          background-position: -55px;
          background-repeat: no-repeat;
        }
      }
      .text-box {
        span {
          padding: 10px;
          border-bottom: 1px $light_grey_blue_color solid;
          white-space: nowrap;
        }
      }
    }
    .hide-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      svg {
        color: $light_grey_blue_color;
      }
    }
  }
  .nav-menu {
    background-color: $dark_green_color_3;
    flex: 1;
    position: relative;
    padding: 20px 0;
    .menu-list {
      padding-right: 0;
      padding-left: 10px;
      cursor: pointer;
      li {
        transition: all 0.2s;
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 0 0 0 25px;
        .icon {
          padding-right: 15px;
          svg {
            font-size: 1.8rem;
          }
        }
        .text {
          white-space: nowrap;
          transition: all 0.2s;
          font-size: 1.1rem;
          font-weight: bold;
        }
      }
      &.menu {
        li {
          background-color: $light_grey_blue_color;
          color: $dark_green_color_1;
          svg {
            color: $dark_green_color_1;
          }
        }
      }
    }
  }
  .nav-footer {
    background-color: $dark_green_color_3;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    img {
      width: 120px;
    }
  }
  &.hide {
    width: 80px;
    .menu-list {
      li {
        .text {
          opacity: 0;
        }
      }
    }
    .nav-header {
      .profile-box {
        justify-content: flex-end;
        .img-box {
          width: 60px;
          height: 60px;
          .img {
            width: 52px;
            height: 52px;
            background-position: -25px;
          }
        }
        .text-box {
          display: none;
        }
      }
    }
    .nav-footer {
      img {
        width: 60px;
      }
    }
  }
}
.dashboard {
  padding: 30px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
}
.daily-advice-wrapper {
  grid-column: 1 / 5;
  color: #fff;
  background-color: $dark_green_color_2;
  height: 150px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 4px;
  .container {
    border-radius: 15px;
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    .advice {
      padding: 10px;
      text-align: center;
      .message {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 10px;
        word-wrap: break-word;
        line-height: 1.2;
      }
      .author {
        font-size: 1rem;
      }
    }
  }
}

.memo-box-wrapper {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  .memo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    height: 260px;
    overflow-y: scroll;
    .box {
      width: 100%;
      max-width: 219px;
      height: 260px;
      background-image: url(../assets/images/memo_img.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      position: relative;
      .date {
        position: absolute;
        font-size: 0.9rem;
        right: 25px;
        top: 50px;
      }
      .text {
        position: absolute;
        word-break: keep-all;
        line-height: 1.3;
        top: 90px;
        left: 40px;
        width: 150px;
        max-height: 130px; /* 최대 높이 지정 */
        overflow: scroll;
      }
    }
  }
}

.todo-list-wrapper {
  grid-column: 5 / 8;
  grid-row: 1 / 3;
}

.calendar-wrapper {
  grid-column: 1 / 3;
  height: 430px;
  display: flex;
  flex-direction: column;
  .calendar-box {
    padding: 0 10px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.daily-card-wrapper {
  grid-column: 3 / 8;
}
